<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">

<script src="js/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="node_modules/bootstrap/js/dropdown.js"></script>
<script src="node_modules/bootstrap/js/collapse.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/typescript/2.0.3/typescript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.6.25/zone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.38/system.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

<!-- Load Bundle from Asset Host -->
<script src="https://plnkr-test.firebaseapp.com/components.bundle.js?sha=bf44c16"></script>

<!-- Configure SystemJS -->
<script src="systemjs.config.js"></script>

<script>
  System
    .import('main.ts')
    .catch(console.error.bind(console));
</script>

<!-- Load the Angular Material 2 stylesheet -->
<link href="https://unpkg.com/@angular/material/core/theming/prebuilt/indigo-pink.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="myCtrl">

<!-- appel au menu -->
<div ng-include="'menu.html'"></div>

<div>
NOM: <input name="userName" ng-model="nom">
<input type="button" value="Add" ng-click="add('nom')">

<!-- NOM: <input ng-model="name">
<input type="button" value="Modify" ng-click="modify('name')">

Recherche par mot cle: <input ng-model="MotCle"> -->

<h4>You entered: {{nom}}</h4>

<h1 style="color: red"> {{message}}</h1>
<div class="row" style="margin-left: 0px; margin-right: 0px">
<div class="col-md-4"></div>
<table class="col-md-4">
    <tr ng-repeat="x in personnes | filter : MotCle">
        <td>{{x.nom}}</td>
        <td> <a class="nav-link" ng-click="edit(x)"> Modifier </a></td> 
        <td> <a class="nav-link" ng-click="delete(x)"> Supprimer </a></td> 
    </tr>
</table>
</div>

<div style="margin-left:20px">
	<h3> List of our Users </h3>
	Search<input ng-model="search">
</div>
<table style="text-align:center" width="50%">
    <tr ng-repeat="x in users | filter:search">
        <td>{{x.Name}}</td>
        <td>{{x.Country}}</td>
    </tr>
</table>
</div>

<h1>Hide the DIV: <input type="checkbox" ng-model="myCheck"></h1>
<p ng-hide="myCheck"></p>

<h1>Show the DIV: <input type="checkbox" ng-model="myCheck1"></h1>
<p ng-show="myCheck1"></p>




<div class="row" style="margin-left: 0px; margin-right: 0px">
	<div class="col-md-4">
		My favorite topic is:
		<ul class="nav nav-pills nav-stacked" ng-model="myVar">
			<li><a href="#" ng-click="myVar= 'insciption'">Insciption</a></li>
			<li><a href="#" ng-click="myVar= 'connection'">Connection</a></li>
			<li><a href="#" ng-click="myVar= 'tuts'">Tutorials</a></li>
		</ul>
	</div>

	<div class="col-md-4">
		<div ng-switch="myVar">
		  <div ng-switch-when="insciption">
			<h1>Insciption</h1>
			<input-form-example>Loading Material Docs example...</input-form-example>
		  </div>
		  
		  <div ng-switch-when="connection">
			 <h1>Connection to the service</h1>
			 <div>Form to fill.</div>
		  </div>
		  
		  <div ng-switch-when="tuts">
			 <h1>Tutorials</h1>
			 <div>Learn from examples.</div>
		  </div>
		  
		  <div ng-switch-default>
			 <h1>Switch</h1>
			 <div>Select topic from the dropdown, to switch the content of this DIV.</div>
		  </div>
		</div>
	</div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

$http.get("menu.html")
    .then(function(response) {
        $scope.menu = response.data;
    });

    $scope.personnes = [
	{id: 1, nom: "Tamskint Farid"},
	{id: 2, nom: "Tamskint Imad"},
	{id: 3, nom: "Tamskint Hicham"}
	];
	
	// function to add personnes in array
	$scope.add = function(nom) {
	console.log($scope.nom);
	
	var exists= 0;
	for(var i = $scope.personnes.length - 1; i >= 0; i--){
        if($scope.personnes[i].nom == $scope.nom){
            exists= 1;
			$scope.message= "This name is already exists";
        }
		if (!$scope.nom) {
			$scope.message= "Empty name";
			return;
		}
    }
	if(exists==0){
		$scope.personnes.push({
            nom: $scope.nom,
        });
	}
        // Clear input fields after push
        $scope.nom = "";
	}
	
	// function to modify a personne
	$scope.edit = function(x) {
	console.log(x.nom);
	
		for(var i = $scope.personnes.length - 1; i >= 0; i--){
			if($scope.personnes[i].nom == x.nom){
				$scope.name = x.nom;
			}
		}
	}
	
	// function to delete a personne
	$scope.delete = function(x) {
	console.log(x.nom);
	alert("Voulez-vous supprimer cet enregistrement!?");
		for(var i = $scope.personnes.length - 1; i >= 0; i--){
			if($scope.personnes[i].nom == x.nom){
				$scope.personnes.splice(i,1);
			}
		}
	}
	
	<!-- var url = "http://localhost:8080/categories"; -->
	var url = "http://www.w3schools.com/angular/customers.php";

	$http.get(url)
		.success(function(data){
			console.log(data.records);
			$scope.users= data.records;
		}
		, function myError(data) {
        $scope.myWelcome = data.statusText;
    });
	
	
});
</script>

</body>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/587a3c4fcbe60101fde5597b/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</html>